::-webkit-scrollbar {
    display: none;
}
#id-blog-add-area {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /*display: none;*/
    background-color: #e0e0e0;
    z-index: 100;
}

#id-close-add {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 70px;
    color: white;
    text-align: center;
    z-index: 2;
}
#id-blog-add {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: grey;
}

#id-blog-add-left,#id-blog-add-right {
    width: 45%;
    background-color: white;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*#id-blog-add-right {
    display: inline-block;
}*/

#id-blog-title, #id-blog-content {
    width: 90%;
    margin: 5px 0;
}

#id-blog-title{
    margin-top: 3%;
    font-size: 20px;
    padding: 3px;
    font-family: sans-serif;
}

#id-blog-content{
    height: 85%;
    resize: none;
    font-size: 15px;
    padding: 5px;
}
#left-foot {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
#id-preview {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 92%;
    /*background-color: grey;*/
    line-height: 1.9;
    overflow-y: scroll;
    word-break: break-all;
}

#id-cover-pre {
    align-self: center;
    width: 400px;
    margin: 0 auto;
}


@media all and (max-width:412px) {
    #id-blog-add {
        background-color: inherit;
    }

    #id-blog-add-left {
        width: 90%;
    }

    #id-blog-add-right {
        display: none;
    }
    .ex {
        margin-left: 5%;
    }
}
