#id-hash {
    position: fixed;
    z-index: 20;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 1s;
    right: 5%;
    top: 90%;
}

#id-hash:hover {
    transform: scale(1.2, 1.2);
    transition: 1s;
}

@media all and (min-width:412px) {
    #id-hash{
        right: 5%;
        top: 90%;
    }

}
@media all and (max-width:412px) {
    #id-hash{
        left: 5%;
        top: 70%;
    }
}
