body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

#id-header {
    position: relative;
    /*z-index: 20;*/
    width: 100%;
    height: 100px;
    background: #363d4c;
    margin: 0;
    padding: 0;
}

#head-content {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}


.head-text {
    font-size: 32px;
    line-height: 100px;
    text-decoration: none;
    color: #fff !important;
}


#head-content li {
    position: relative;
    display: flex;
    align-items: center;
}

.reminder-num {
    display: inline-block;
    width: 24px;
    height: 16px;
    position: absolute;
    border-radius: 8px;
    background: red;
    top:30%;
    right: -10%;
    font-size: 10px;
    color: white;
    text-align: center;
}

@media all and (max-width:412px) {
    #id-header {
        height: 40px;
    }

    #head-content {
        width: 100%;
        justify-content: space-around;
        margin: 0;
    }

    .head-text {
        font-size: 16px;
        line-height: 100%;
    }

    .reminder-num {
        width: 15px;
        height: 15px;
        top:20%;
        right: -20%;
        border-radius: 50%;
        font-size: 3px;
    }
}
